<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NtsBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://test1.ekstern-test.nspop.dk:8080/nts/service-01172024"
                binding="basicHttpBinding" bindingConfiguration="NtsBinding"
                contract="Kombit.Samples.CH.WebsiteDemo.NtsServiceReference.NtsPortType"
                name="NtsPort" />
        </client>
    </system.serviceModel>
</configuration>