<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Federation" type="dk.nita.saml20.config.ConfigurationReader, dk.nita.saml20" />
    <section name="SAML20Federation" type="dk.nita.saml20.config.ConfigurationReader, dk.nita.saml20" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" requirePermission="false" />
    <section name="SecurityTokenRequest" type="Kombit.Samples.CH.WebsiteDemo.STS.RequestSecurityTokenConfigurationSectionHandler, Kombit.Samples.CH.WebsiteDemo" />
  </configSections>
  <!--
    STS Bootstrap Token configuration.
    Fill in values matching your Identify STS environment before enabling this feature.

    Client credential uses certificate authentication (mutual TLS):
      <ClientCredential storeLocation="LocalMachine" storeName="My" thumbprint="<THUMBPRINT_OF_YOUR_CLIENT_CERT>" />

    StsEndpointCertificate: base64-encoded DER bytes of the STS signing certificate.
  -->
  <SecurityTokenRequest>
    <StsEndpointAddress>https://your-sts-host/runtime/services/trust/14/certificatemixed</StsEndpointAddress>
    <StsEndpointIdentity>Endpoint_Identity</StsEndpointIdentity>
    <StsEndpointCertificate>PASTE_BASE64_DER_BYTES_OF_STS_SIGNING_CERTIFICATE_HERE</StsEndpointCertificate>
    <AppliesTo>https://your-service-host/Service.svc</AppliesTo>
    <ClientCredential storeLocation="LocalMachine" storeName="My" thumbprint="a46f520f2230ef670aa147fb077200b2011e3cf9" />
  </SecurityTokenRequest>
  <appSettings>
    <add key="SignatureAlgorithmMethod" value="Sha256" />
    <!-- When enabled, offer buttons to re-send AuthnRequest to IdP with different Assurance Levels -->
    <!--<add key="OfferAssuranceLevel" value="true" />-->
    <!-- When enabled, the first authentication request sent to IdP will use this assurance level -->
    <!--<add key="UseAssuranceLevel" value="2" />-->
    <!--Enable this key if the SP Profile is KOMBIT_WITHOUT_PERSONAL_DATA to ignore the personal data atrributes (such as email) validation-->
    <!--<add key="Profile" value="KOMBIT_WITHOUT_PERSONAL_DATA"/>-->
  </appSettings>
  <log4net>
    <root>
      <level value="All" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd HH:mm:ss}-%m%n" />
      </layout>
    </appender>
  </log4net>
  <location path="MyPage.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <Federation auditLoggingType="dk.nita.saml20.Logging.Log4NetAuditLogger, dk.nita.saml20.ext.audit.log4net" xmlns="urn:dk.nita.saml20.configuration">
    <SessionTimeout>30</SessionTimeout>
        <SigningCertificates>
      <SigningCertificate findValue="E85AC4E2A5ED9CE4CCFEF42F3F9DE1E4A521CDDD" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />
    </SigningCertificates>
    <AllowedAudienceUris>
      <Audience>https://saml.claimapp.adgangsstyring.eksterntest-stoettesystemerne.dk</Audience>
    </AllowedAudienceUris>
    <Actions>
      <clear />
      <add name="SetSamlPrincipal" type="dk.nita.saml20.Actions.SamlPrincipalAction, dk.nita.saml20" />
      <add name="LogAction" type="Kombit.Samples.CH.WebsiteDemo.LogAction, Kombit.Samples.CH.WebsiteDemo" />
      <add name="Redirect" type="dk.nita.saml20.Actions.RedirectAction, dk.nita.saml20" />
    </Actions>
  </Federation>
  <SAML20Federation xmlns="urn:dk.nita.saml20.configuration">
    <ShowError>true</ShowError>
    <ServiceProvider id="https://saml.claimapp.adgangsstyring.eksterntest-stoettesystemerne.dk" server="https://saml.claimapp.adgangsstyring.eksterntest-stoettesystemerne.dk" encryptionAlgorithm="http://www.w3.org/2009/xmlenc11#aes256-gcm" keyTransportAlgorithm="http://www.w3.org/2009/xmlenc11#rsa-oaep">
      <ServiceEndpoint localpath="/login.ashx" type="signon" redirectUrl="/MyPage.aspx?action=sso" index="0" />
      <ServiceEndpoint localpath="/logout.ashx" type="logout" redirectUrl="/Default.aspx" index="1" />
      <ServiceEndpoint localpath="/logout.ashx" type="soaplogout" errorBehaviour="throwexception" />
      <ServiceEndpoint localpath="/metadata.ashx" type="metadata" />
      <md:ContactPerson contactType="administrative" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata">
        <md:Company>KOMBIT</md:Company>
        <md:GivenName>KOMBIT</md:GivenName>
        <md:SurName>KOMBIT</md:SurName>
        <md:EmailAddress>KOMBIT@KOMBIT.DK</md:EmailAddress>
        <md:TelephoneNumber>12345678</md:TelephoneNumber>
      </md:ContactPerson>
    </ServiceProvider>
    <RequestedAttributes>
      <att name="https://data.gov.dk/model/core/specVersion" isRequired="true" />
      <att name="https://data.gov.dk/model/core/eid/privilegesIntermediate" isRequired="true" />
      <att name="https://data.gov.dk/concept/core/nsis/loa" isRequired="true" />
      <att name="https://data.gov.dk/model/core/eid/email" isRequired="true" />
      <att name="https://data.gov.dk/model/core/eid/cprNumber" isRequired="false" />
      <att name="https://data.gov.dk/model/core/eid/professional/cvr" isRequired="true" />
      <att name="https://data.gov.dk/model/core/eid/professional/orgName" isRequired="true" />
      <att name="dk:gov:saml:attribute:KombitSpecVer" isRequired="true" />
    </RequestedAttributes>
    <NameIdFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:X509SubjectName</NameIdFormat>
    <IDPEndPoints metadata="metadata">
      <add id="https://saml.adgangsstyring.eksterntest-stoettesystemerne.dk">
        <CertificateValidation>
          <add type="dk.nita.saml20.Specification.DefaultCertificateSpecification, dk.nita.saml20, Version=1.7.11.0, Culture=neutral" />
        </CertificateValidation>
      </add>
    </IDPEndPoints>
    <CommonDomain enabled="false" localReaderEndpoint="https://pfs04/demo/cdcreader.ashx" />
    <!--Default minimum loa is Substantial, if this configuration is removed, it is treated as MinimumNsisLoa=Substantial, if it is set as Low, OfferAssuranceLevel must set to true, otherwise system will show error-->
    <!--<MinimumNsisLoa>Substantial</MinimumNsisLoa>-->
  </SAML20Federation>
  <system.web>
    <authentication mode="Forms">
      <forms cookieless="UseCookies" requireSSL="true" loginUrl="/login.ashx" name="DemoServiceProvider" timeout="30" />
    </authentication>
    <sessionState mode="Off" />
    <compilation debug="true" targetFramework="4.8" />
    <httpCookies requireSSL="true" />
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="dk.nita.saml20" switchValue="Verbose">
        <listeners>
          <add name="trace" />
        </listeners>
      </source>
      <source name="dk.nita.saml20.auditLogger" switchValue="Information">
        <listeners>
          <add name="trace" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="trace" type="System.Diagnostics.XmlWriterTraceListener" initializeData="saml2.svclog" />
    </sharedListeners>
  </system.diagnostics>
  <system.webServer>
    <security>
      <requestFiltering>
        <fileExtensions allowUnlisted="false" applyToWebDAV="false">
          <remove fileExtension=".aspx" />
          <remove fileExtension=".ashx" />
          <remove fileExtension=".axd" />
          <remove fileExtension=".cshtml" />
          <remove fileExtension=".xhtml" />
          <remove fileExtension=".css" />
          <remove fileExtension=".xml" />
          <remove fileExtension=".gif" />
          <remove fileExtension=".png" />
          <remove fileExtension=".jpg" />
          <remove fileExtension=".js" />
          <remove fileExtension=".asmx" />
          <remove fileExtension=".svc" />
          <remove fileExtension=".idp" />
          <remove fileExtension=".dll" />
          <remove fileExtension=".xsd" />
          <remove fileExtension="." />
          <add fileExtension=".aspx" allowed="true" />
          <add fileExtension=".ashx" allowed="true" />
          <add fileExtension=".axd" allowed="true" />
          <add fileExtension=".cshtml" allowed="true" />
          <add fileExtension=".xhtml" allowed="true" />
          <add fileExtension=".css" allowed="true" />
          <add fileExtension=".xml" allowed="true" />
          <add fileExtension=".gif" allowed="true" />
          <add fileExtension=".png" allowed="true" />
          <add fileExtension=".jpg" allowed="true" />
          <add fileExtension=".js" allowed="true" />
          <add fileExtension=".asmx" allowed="true" />
          <add fileExtension=".svc" allowed="true" />
          <add fileExtension=".idp" allowed="true" />
          <add fileExtension=".dll" allowed="true" />
          <add fileExtension=".xsd" allowed="true" />
          <add fileExtension="." allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.FullNetFx" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>